@model BankConfigurationPortal.Web.ViewModels.CounterServiceViewModel

<div class="panel panel-default" style="margin-bottom: 8px; margin-top: 0">
    <div class="panel-heading">
        <label class="panel-title">@Html.CheckBoxFor(model => model.Selected) &nbsp @Model.Service.NameEn &nbsp&nbsp</label> <!--TODO: localization for service name-->
        <label class="alert-link">
            @if (Model.IsAvailableOnCounter) {
                @Html.ActionLink("Remove", "RemoveService", new { branchId = Model.BranchId, counterId = Model.CounterId, bankServiceId = Model.Service.BankServiceId })
            }
            else {
                @Html.ActionLink("Add", "AddService", new { branchId = Model.BranchId, counterId = Model.CounterId, bankServiceId = Model.Service.BankServiceId })
            }
        </label>
    </div>
</div>
