@model IEnumerable<BankConfigurationPortal.Web.ViewModels.CounterServiceViewModel>
@{
    ViewBag.Title = WebResources.BankServices;
}

<h2>@WebResources.BankServices</h2>

@foreach (var item in Model) {
    @Html.Partial("_CounterServiceSummary", item);
}

<p>
    @Html.ActionLink(WebResources.BackToCounter, "Details", "Counter", new { branchId = ViewBag.BranchId, counterId = ViewBag.CounterId }, null)
</p>
