@model BankConfigurationPortal.Data.Models.Counter

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">@Model.NameEn</h3>
    </div>
    <div class="panel-body">
        @Html.ActionLink("Edit", "Edit", new { branchId = Model.BranchId, counterId = Model.CounterId }) |
        @Html.ActionLink("Details", "Details", new { branchId = Model.BranchId, counterId = Model.CounterId }) |
        @Html.ActionLink("Delete", "Delete", new { branchId = Model.BranchId, counterId = Model.CounterId })
    </div>
</div>
