@model IEnumerable<BankConfigurationPortal.Data.Models.Counter>
@{
    ViewBag.Title = WebResources.Counters;
}

<h2>@WebResources.Counters</h2>

<p>
    @Html.ActionLink(WebResources.CreateNew, "Create", new { branchId = ViewBag.BranchId })
</p>

@foreach (var item in Model) {
    @Html.Partial("_CounterSummary", item);
}

<p>
    @Html.ActionLink(WebResources.BackToBranch, "Details", "Branch", new { branchId = ViewBag.BranchId }, null)
</p>