@model IEnumerable<BankConfigurationPortal.Web.Models.Counter>

<h2>@WebResources.Counters</h2>

<p>
    @Html.ActionLink(WebResources.CreateNew, "Create", new { branchId = ViewBag.BranchId })
</p>

@{
    var viewDataDictionary = new ViewDataDictionary();
    viewDataDictionary.Add("language", ViewBag.Language);

    foreach (var item in Model) {
        @Html.Partial("_CounterSummary", item, viewDataDictionary);
    }
}

<p>
    @Html.ActionLink(WebResources.BackToBranch, "Details", "Branch", new { branchId = ViewBag.BranchId }, null)
</p>