@model BankConfigurationPortal.Web.Models.Branch

@{
    string displayName = ((string) ViewData["language"] == BankConfigurationPortal.Web.Constants.Languages.ARABIC) ? Model.NameAr : Model.NameEn;
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">@displayName</h3>
    </div>
    <div class="panel-body">
        @Html.ActionLink(WebResources.Edit, "Edit", new { branchId = Model.BranchId }) |
        @Html.ActionLink(WebResources.Details, "Details", new { branchId = Model.BranchId }) |
        @Html.ActionLink(WebResources.Delete, "Delete", new { branchId = Model.BranchId })
    </div>
</div>
