@model IEnumerable<BankConfigurationPortal.Web.Models.Branch>

<h2>@WebResources.Branches</h2>

<p>
    @Html.ActionLink(WebResources.CreateNew, "Create")
</p>

@{
    var viewDataDictionary = new ViewDataDictionary();
    viewDataDictionary.Add("language", ViewBag.Language);

    foreach (var item in Model) {
        @Html.Partial("_BranchSummary", item, viewDataDictionary);
    }
}
