@model BankConfigurationPortal.Data.Models.BankService

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">@Html.DisplayFor(model => model.NameEn)</h3>
    </div>
    <div class="panel-body">
        @Html.ActionLink(WebResources.Edit, "Edit", new { bankServiceId = Model.BankServiceId }) |
        @Html.ActionLink(WebResources.Details, "Details", new { bankServiceId = Model.BankServiceId }) |
        @Html.ActionLink(WebResources.Delete, "Delete", new { bankServiceId = Model.BankServiceId })
    </div>
</div>
