@model BankConfigurationPortal.Data.Models.BankService

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">@Model.NameEn</h3>
    </div>
    <div class="panel-body">
        @Html.ActionLink("Edit", "Edit", new { id = Model.BankServiceId }) |
        @Html.ActionLink("Details", "Details", new { id = Model.BankServiceId }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.BankServiceId })
    </div>
</div>
