@model IEnumerable<BankConfigurationPortal.Web.Models.BankService>

<h2>@WebResources.BankServices</h2>

<p>
    @Html.ActionLink(WebResources.CreateNew, "Create")
</p>

@{ 
    var viewDataDictionary = new ViewDataDictionary();
    viewDataDictionary.Add("language", ViewBag.Language);

    foreach (var item in Model) {
        @Html.Partial("_BankServiceSummary", item, viewDataDictionary);
    }
}
